@model LoginViewModel;

<form asp-controller="Account" asp-action="Login" method="post" onsubmit="DisableButton()">
    <div>
        <label class="form-label">Email</label>
        <input class="form-control" type="email" asp-for="Email" />
    </div>
    <div>
        <label class="form-label">Password</label>
        <input class="form-control" type="password" asp-for="Password" />
    </div>
    <button class="btn btn-success" id="login" type="submit">Login</button>
    @Html.ValidationSummary()
</form>

@section Scripts {
    <script>
        function DisableButton(){
            $('#register').prop("disabled", true);
        }
    </script>
}